<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="sidenavOpen = !sidenavOpen">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">💪 Legends Boxing</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav [opened]="sidenavOpen" mode="side" class="sidenav">
    <mat-nav-list>
      <a mat-list-item
         *ngFor="let item of menuItems"
         [routerLink]="item.route"
         routerLinkActive="active-link">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
